
.nav-link:hover {
    font-weight: bold;
}

.footerIcons {
    font-size: 40px;
    
}

.myName {
 color: #ffffff;
 background-color: #446E9B;
 font-size: 20px;
 font-family: "Open Sans";
 min-height: 100%;

}

.a{
    margin-bottom: 5px;
}

.col {
    margin: 10px;
}

.portBox {
  
}

